@use "../abstracts/" as *;

.login-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: rem(60);
  padding-top: rem(75.8);
  padding-inline: rem(25);

  &__bottom {
    font-family: Poppins;
  }
}

.title {
  .login-wrap__bottom & {
    color: $gray90;
    font-family: Poppins;
    font-size: rem(18);
    font-weight: 600;
  }
}
