@use "../abstracts/" as *;

.login-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: rem(60);
  padding-top: rem(75.8);
  margin-inline: rem(25);

  &__top {
    margin: 0 auto;
  }

  &__bottom {
    display: grid;
    gap: rem(20);
    font-family: $eng;
  }
}

.title {
  .login-wrap__bottom & {
    color: $gray90;
    font-family: Poppins;
    font-size: rem(18);
    font-weight: 600;
  }
}
