@use "../abstracts/" as *;

.login-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: rem(20);
}

.title {
  .login-wrap__bottom & {
    color: $gray09;
    font-family: Poppins;
    font-size: rem(18);
    font-weight: 600;
  }
}
