@use "../abstracts/" as *;

.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding-inline: rem(20);
  height: rem(36);

  h1 {
    order: 2;
    justify-self: center;
    color: $gray12;
    font-family: $fontPo;
    font-size: rem(18);
    font-weight: 600;
    line-height: 96%;
    text-align: center;
  }
  &__left {
    order: 1;
  }
  &__right {
    order: 3;
    justify-self: end;
  }
}

.header-icon {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  height: rem(40);

  &__left {
    height: rem(40);
  }
  &__right {
    display: flex;
    gap: rem(10);
    justify-self: end;
  }

  .visual-type1 & {
    position: absolute;
    top: rem(35);
    right: rem(20);
    left: rem(20);
  }
  .visual-type2 & {
    position: absolute;
    top: rem(35);
    right: rem(20);
    left: rem(20);
  }
}
