@use "../abstracts/" as *;

$mt: (10, 12, 20, 24, 30, 32, 34, 60, 63);
$mx: (20, 30);

.px16 {
  padding-inline: rem(16);
}
.px25 {
  padding-inline: rem(25);
}
.px30 {
  padding-inline: rem(30);
}
.mx30 {
  margin-inline: rem(30);
}

@each $margin in $mt {
  .mt#{$margin} {
    margin-top: rem($margin);
  }
}
@each $margin in $mx {
  .mx#{$margin} {
    margin-inline: rem($margin);
  }
}
