@use "../abstracts/" as *;
@use "sass:list";

$formSettings: (
  "height": rem(50),
  "borderSetting": rem(1) solid $gray5c,
  "borderRadius": rem(10),
  "paddingInline": rem(15),
  "fontColor": $gray6a,
  "fontSize": rem(14.33),
  "placeholderColor": $gray6a,
  "disabledBgColor": rgba($gray6a, 0.1),
  "readonlyBgColor": rgba($gray6a, 0.05),
);
// Select 디자인 정의
$selectSetting: (
  "bgUrl": "bg_select.svg",
  "iconPosition": rem(20),
  "bgWidth": 24,
  "paddingInline": 20,
);
// Radio, checkbox 디자인 정의
$radioCheckSetting: (
  1: (
    "className": ".check-type1",
    "offImage": "ico_bookmark_off.svg",
    "onImage": "ico_bookmark_on.svg",
    "width": rem(8),
    "height": rem(11),
    "borderRadius": rem(8.5145),
    "paddingInline": rem(7.5),
    "paddingBlock": rem(6.2),
    "bgColor": $primarye5,
  ),
  2: (
    "className": ".check-type2",
    "offImage": "ico_like_off.png",
    "onImage": "ico_like_on.png",
    "width": rem(40),
    "height": rem(40),
  ),
  3: (
    "className": ".radio-type1",
    "offImage": "ico_radio_01_off.svg",
    "onImage": "ico_radio_01_on.svg",
    "width": rem(14),
    "height": rem(14),
  ),
  4: (
    "className": ".radio-type2",
    "offImage": "ico_radio_02_off.svg",
    "onImage": "ico_radio_02_on.svg",
    "width": rem(17),
    "height": rem(17),
  ),
);

%label {
  display: inline-flex;
  align-items: center;
  color: $gray09;
  font-size: rem(14.33);
  font-weight: 500;
  cursor: pointer;
}
%form {
  height: map-get($formSettings, height);
  border: map-get($formSettings, border);
  box-sizing: border-box;
  border-radius: map-get($formSettings, borderRadius);
  padding-inline: map-get($formSettings, paddingInline);
  color: map-get($formSettings, fontColor);
  font-size: map-get($formSettings, fontSize);

  &::placeholder {
    color: map-get($formSettings, placeholderColor);
  }
  &:disabled {
    background: map-get($formSettings, disabledBgColor);
  }
  &[readonly] {
    background: map-get($formSettings, readonlyBgColor);
  }
}

.input {
  @extend %form;
  width: 2.4rem;
  width: var(--w, 100%);
}
.select {
  //   $result: input의 좌측여백 * 2 + 이미지가로크기;
  $result: map-get($selectSetting, paddingInline) * 2 +
    map-get($selectSetting, bgWidth);
  @extend %form;
  @include background(
    map-get($selectSetting, bgUrl),
    right map-get($selectSetting, iconPosition) center
  );
  appearance: none;
  width: var(--w, 100%);
}
.age {
  display: flex;
  gap: rem(13);
}

@mixin Radio($mapName, $index) {
  #{map-get($mapName, $index, className)} {
    @include a11y-hidden;
    + label {
      @extend %label;
      padding-inline: map-get($mapName, $index, paddingInline);
      padding-block: map-get($mapName, $index, paddingBlock);
      border-radius: map-get($mapName, $index, borderRadius);
      background-color: map-get($mapName, $index, bgColor);

      &::before {
        @include background(map-get($mapName, $index, offImage));
        content: "";
        background-size: contain;
        width: map-get($mapName, $index, width);
        height: map-get($mapName, $index, height);
      }
    }
    &:checked {
      + label {
        &::before {
          @include background(map-get($mapName, $index, onImage));
        }
      }
    }
  }
}

@for $idx from 1 through list.length($radioCheckSetting) {
  @include Radio($radioCheckSetting, $idx);
}
