@use "../abstracts/" as *;

%inputIcon {
  content: "";
  display: inline-block;
}
%inputText {
  color: $gray6a;
  font-size: rem(14.33);
}

.input-type1 {
  display: flex;
  flex-direction: column;
  gap: rem(20);

  label {
    color: $gray90;
    font-size: rem(14.33);
    font-weight: 500;
  }
  input {
    @extend %inputText;
    border: none;
    padding: rem(15) rem(20) rem(15) 0;
  }
}

.input-wrap {
  display: grid;
  overflow: hidden;
  grid-template-columns: min-content 1fr;
  align-items: center;
  gap: rem(12);
  border-radius: rem(10);
  border: rem(1) solid $gray5c;
  box-sizing: border-box;
}
.input-group1 {
  display: flex;
  flex-direction: column;
  gap: rem(12);
}

.username {
  padding-left: rem(20);
  &::before {
    @include background("ico_user.svg", center);
    @extend %inputIcon;
    width: rem(17.3887);
    height: rem(16.72);
  }
}

.password {
  grid-template-columns: min-content 1fr min-content;
  padding-left: rem(20);
  padding-right: rem(20);
  gap: 0;
  &::before {
    @include background("ico_key.svg", center);
    @extend %inputIcon;
    width: rem(18.39);
    height: rem(18.39);
    margin-right: rem(19.97);
  }
}

.notation {
  display: flex;
  position: relative;
  align-items: center;
  gap: 0 rem(10);
  height: rem(43);
  padding-left: rem(20);

  &::after {
    @extend %inputIcon;
    display: flex;
    border-right: 1px solid #6a6a6a;
    height: rem(21);
  }
}

.email {
  &.input-wrap {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .email-address {
    padding: 0 rem(20);
  }
}
