@use "../abstracts/" as *;

%logoAlign {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-type1 {
  @extend %logoAlign;
}
.logo-type2 {
  @extend %logoAlign;
  // padding-top: rem(13.8);
  // padding-bottom: rem(25);
}
