@use "../abstracts/" as *;

.profile-type1 {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: rem(30);
  text-align: center;
  // padding-top: rem(63.8);
}

.profile-text {
  h2 {
    color: $gray09;
    font-size: rem(25);
    font-weight: 600;
  }
  p {
    color: $gray61;
    font-size: rem(12);
  }
}
