@use "../abstracts/" as *;

%rating {
  display: inline-flex;
  align-items: center;
  gap: rem(6);
  color: $gray89;
  font-family: $fontPo;
  font-size: rem(12);
  line-height: 96%;
  &::before {
    content: "";
    height: rem(15);
  }
}

.rating {
  @extend %rating;
  font-weight: 400;
  &::before {
    @include background("ico_star.svg", center);
    width: rem(16);
  }
}

.ratings {
  @include background("bg_ratings.png");
  padding-left: rem(135);
  color: $gray2a;
  font-size: rem(13);
  font-weight: 500;
}
