@use "../abstracts/" as *;

%rating {
  display: inline-flex;
  align-items: center;
  gap: rem(6);
  color: $gray89;
  font-family: $fontPo;
  font-size: rem(12);
  line-height: 96%;
  &::before {
    content: "";
    height: rem(15);
  }
}

.rating {
  @extend %rating;
  font-weight: 400;
  &::before {
    @include background("ico_star.svg", center);
    width: rem(16);
  }
}

.ratings {
  display: grid;
  grid-template-columns: rem(150) 1fr;
  gap: rem(70);
  &__left {
    @extend %rating;
    font-weight: 500;
    &::before {
      @include background("ico_rating_full.png", center);
      width: rem(104);
    }
  }
  &__right {
    display: grid;
    grid-template-columns: rem(49) rem(60.4);
    gap: rem(5);
    justify-self: end;
    color: #323232;
    font-family: $fontPo;
    font-size: rem(12);
    font-weight: 500;
    line-height: rem(19);
  }
}
