@use "../abstracts/" as *;

.tab-type1 {
  ul {
    display: flex;
  }
  li {
    flex: 1;
  }
  button {
    $offColor: $gray30;
    $onColor: $primary;
    $offBottomColor: $primaryde;

    width: 100%;
    padding-block: rem(10);
    color: $offColor;
    font-size: rem(14);
    font-family: $fontPo;
    font-weight: 500;
    background-image: linear-gradient(
      to bottom,
      $offBottomColor,
      $offBottomColor
    );
    background-repeat: no-repeat;
    background-size: 100% rem(2);
    background-position: bottom;
    &.--active {
      background-image: linear-gradient(to bottom, $onColor, $onColor);
      color: $onColor;
    }
  }
}

.tab-type2 {
  ul {
    display: flex;
    overflow-x: auto;
    gap: rem(10);
  }
  button {
    $offColor: $gray24;
    $onColor: $primary24;
    $offTabColor: $grayf4;

    width: 100%;
    padding: rem(9) rem(18);
    color: $offColor;
    font-size: rem(13);
    font-family: $fontPo;
    font-weight: 500;
    line-height: 113%;
    border-radius: rem(50);
    background: $offTabColor;
    &.--active {
      background: $onColor;
      color: $white;
    }
  }
}
