@use "../abstracts/" as *;

.heading-type1 {
  color: $gray12;
  font-family: $fontPo;
  font-size: rem(20);
  font-weight: 600;
  line-height: 96%;
}

.heading-type2 {
  color: $gray12;
  font-family: $fontInter;
  font-size: rem(17);
  font-weight: 600;
  line-height: 96%;
}

.text-type1 {
  color: $gray8c;
  font-family: $fontPo;
  font-size: rem(13);
  font-weight: 400;
  line-height: 96%;

  .profile-type2 & {
    font-size: rem(11);
    line-height: 1;
  }
  .review & {
    color: #7a7a7a;
    font-size: rem(11);
    line-height: 1;
  }
}

.text-type2 {
  color: $primary;
  font-family: $fontPo;
  font-size: rem(11);
  font-weight: 500;
  .address & {
    font-size: rem(12);
  }
}
.text-type3 {
  color: $gray6b;
  font-family: $fontPo;
  font-size: rem(10);
  font-weight: 400;

  .list-type3 & {
    @include ellipsis(1);
    font-weight: 500;
  }
}
.text-type4 {
  color: $gray2a;
  font-family: $fontPo;
  font-size: rem(14);
  font-weight: 600;
  line-height: 96%;

  .list-type4 & {
    font-size: rem(11);
  }
}
.text-type5 {
  color: $warning;
  font-family: $fontPo;
  font-size: rem(12);
  font-weight: 600;
  line-height: rem(19);
}
