$imgurl: "../images/";
$eng: "Roboto", sans-serif;

/* Colors */
$gray12: #122d4d;
$gray2a: #2a2b3f;
$gray30: #303131;
$gray41: #415770;
$gray67: #677294;
$gray6b: #6b6b6b;
$gray89: #8997a9;
$gray8c: #8c8c8c;
$graye8: #e8eaee;
$grayf4: #f4f6f9;
$primary: #006eff;
$primary10: #246afa1a;
$secondary: #478ff1;
$warning: #e7436d;
