$imgurl: "../images/";
$fontPo: "Poppins", sans-serif;
$fontInter: "Inter", sans-serif;

/* Colors */
$gray12: #122d4d;
$gray24: #242424;
$gray2f: #2f2f2f;
$gray2a: #2a2b3f;
$gray30: #303131;
$gray41: #415770;
$gray5c: #5c5c5c;
$gray61: #616161;
$gray67: #677294;
$gray6a: #6a6a6a;
$gray6b: #6b6b6b;
$gray89: #8997a9;
$gray8c: #8c8c8c;
$grayb9: #b9b9b9;
$graye8: #e8eaee;
$grayf4: #f4f6f9;
$gray09: #091130;
$primary: #006eff;
$primary24: #246bfd;
$primary10: #246afa1a;
$primarye5: #e5f0ff;
$primaryde: #d6e9fc;
$secondary: #478ff1;
$white: #fff;
$warning: #e7436d;
